.gradle
.idea
build
gradle
build.gradle
ElyrianExplorer.iml
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
app/build
app/libs
app/app.iml
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/androidTest
app/src/test
